@import 'common.css';

.unlisted {
  list-style: none;
  padding-left: 0;
}

.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

/* POST */
.post {
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}
.post-link {
  font-weight: bold;
}
